<div class="descript-container" >
<ul class="description list">
    <li class="descript-title">
        <svg class="descript-icon" width="202px" height="23px"> 
            <use href="/images/icons/features-1.svg#clip0"></use>
         </svg>
        <p class="descript-text">Обучение в малых командах</p>
    </li>

    <li class="descript-title">
        <svg class="descript-icon" width="202px" height="23px"> 
            <use href="/images/icons/features-2.svg#clip0"></use>
         </svg>
        <p class="descript-text">Визуализированные конспекты</p>
    </li>

    <li class="descript-title">
        <svg class="descript-icon" width="202px" height="23px"> 
            <use href="/images/icons/features-3.svg#clip0"></use>
         </svg>
        <p class="descript-text">Каждое занятие имеет цель и конкретный результат</p>
    </li>

    <li class="descript-title">
        <svg class="descript-icon" width="202px" height="23px"> 
            <use href="/images/icons/features-4.svg#clip0"></use>
         </svg>
        <p class="descript-text">Ревльные результаты преподавателя</p>
    </li>

    <li class="descript-title">
        <svg class="descript-icon" width="202px" height="23px"> 
            <use href="/images/icons/features-5.svg#clip0"></use>
         </svg>
        <p class="descript-text">Прогамма курса соответствует требованиям МОН Украины</p>
    </li>

    <li class="descript-title">
        <svg class="descript-icon" width="202px" height="23px"> 
            <use href="/images/icons/features-6.svg#clip0"></use>
         </svg>
        <p class="descript-text">Набор команд по уровням знаний</p>
    </li>
</ul>
</div>