<footer>
    <section class="footer-bg" id="footer">   
      <div class="main-conteiner footer-container">
     <span class="footer-text">
      Регистрация на <span class="footer-orange">бесплатную</span> телефонную <span class="footer-orange">консультацию</span> по нюансам ЗНО по английскому языку
     </span> 
   <span class="footer-text-secondary">Оставь заявку на участие в <span class="footer-orange">бесплатном занятии</span>. С вами свяжется консультант и ответит на вопросы</span>
  <form  action="" class="footer-form">
      <label class="">
          <input class="footer-form-text footer-name" type="text" name="name" placeholder="Имя*">
      </label>
    <label>
          <input class="footer-form-text" type="number" name="tel" placeholder="Телефон*">
  </label>
  <button class="button-footer">хочу на бесплатное занятие</button>
  </form>
  </div>
  <div class="footer-contact-container">
    <div class="footer-logo">
      <div class="svg-logo-footer">
        <span class="header-logo" lang="en">Hell</span>
        <svg class="header-logo-icon" width="22" height="30">
        <use
          href="./images/icons/sprite.svg#icon-logo"></use></svg>
        <span class="header-logo-part" lang="en">EN</span>
        <div>
            <span class="header-logo-second">Адский </span><span class="header-logo-second-part">английский</span>
        </div>

      </div>
    </div>

  <div class="flex-footer"> 
   <div class="footer-telefone">
    <svg class="svg-telefone-footer">
      <use href="./images/icons/sprite.svg#icon-footer-phone"></use>
    </svg>
    <a class="mobile-footer" href="tel:+38 (000) 000 00 00">+38 (000) 000 00 00</a>
  </div>
  <div class="footer-instagram">
    <img class="instagram-footer" src="/images/footer/instagram.svg" alt="instagram">
  </div></div>
  </div>
  <div class="footer">
   <span class="footer-text">@ Все права защищены, 2019</span>
  </div>
  </section>  
</footer>