<header class="header-page">
    <div class="header-container">
        <a href="#">
            <span class="header-logo" lang="en">Hell</span>
            <span class="header-logo-part" lang="en">EN</span>
            <div>
                <span class="header-logo-second">Адский </span><span class="header-logo-second-part">английский</span>
            </div>

        </a>
        <nav class="header-nav">
            <ul class="header-items list">
                <li class="header-item">
                    <a class="header-nav-link" href="#">Программы обучения</a>
                </li>
                <li class="header-item">
                    <a class="header-nav-link" href="#">О нас</a>
                </li>
                <li class="header-item">
                    <a class="header-nav-link" href="#">Варианты обучения</a>
                </li>
                <li class="header-item">
                    <a class="header-nav-link" href="#">Контакты</a>
                </li>
            </ul>

        </nav>
        <button class="header-btn">Консультация по телефону</button>

    </div>
</header>