<section class="hero-section">

    <div class="hero-container">
        <h1 class="hero-title">
            Комплексная <br> подготовка к ВНО <br> по английскому языку
        </h1>
        <div class="hero-text-container"><span class="hero-text-first">Просто не будет.</span>
            <span class="hero-text-middle">Но ты гарантировано наберешь</span>
            <span class="hero-text-last">+25 баллов</span></div>


    </div>
    <div class="hero-overlay"><button class="hero-btn">хочу на бесплатное занятие</button></div>


</section>