<section class="reviews-section">
  <h2 class="reviews-title">Отзывы выпускников</h2>
  <div class="reviews-main-container">
    <div class="reveiws-photo-link">
      <img
        src="/images/Ellipse 8.jpg"
        alt="Фото пользователя"
        class="reviews-photo-people"
      />
      <a href="https://vk.com/" class="reviews-link">
        <svg>
          <use href="/images/icons/sprite.svg#icon-vk"></use>
        </svg>
      </a>
    </div>
    <div>
      <p class="name-orange-text">Тоня Кучеровская</p>
      <p class="reviews-adout-person">
        Выпуск 2015-го года, Національний університет біоресурсів і
        природокористування України
      </p>
      <p class="reviews-text">
        За короткий час занять з Оленою я опанувала граматику і поповнила свій
        зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
        знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
        справді хвилювала моя успішність. Вона стала для мене авторитетом, проте
        я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
        можу похизуватись тим, що я студен ...
        <span class="reviews-orange-link">Читать дальше</span>
      </p>
    </div>
  </div>
  <div class="reviews-list-container">
    <ul class="reviews-list list">
      <li class="reviews-item">
        <img src="/images/Ellipse 15.jpg" alt="Фото пользователя" />
      </li>
      <li class="reviews-item">
        <img src="/images/Ellipse 14.jpg" alt="Фото пользователя" />
      </li>
      <li class="reviews-item">
        <img src="/images/Ellipse 13.jpg" alt="Фото пользователя" />
      </li>
      <li class="reviews-item">
        <img src="/images/Ellipse 12.jpg" alt="Фото пользователя" />
      </li>
      <li class="reviews-item">
        <img src="/images/Ellipse 11.jpg" alt="Фото пользователя" />
      </li>
      <li class="reviews-item">
        <img src="/images/Ellipse 10.jpg" alt="Фото пользователя" />
      </li>
      <li class="reviews-item">
        <img src="/images/Ellipse 9.jpg" alt="Фото пользователя" />
      </li>
    </ul>
  </div>
  <div class="reviews-button-container">
    <button class="reviews-button-left">
      <svg class="arrow">
        <use href="/images/icons/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button class="reviews-button-right">
      <svg class="arrow">
        <use href="/images/icons/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
