
<section class="teacher">

    <h1 class="teacher-title">Преподаватель</h1>

    <img class="teacher-img img"
    srcset="/images/teacher243.jpg 1x, /images/teacher530.jpg 2x" 
    src="" alt="teacher" width="243">

    <h2 class="teacher-name">Елена Морева</h2>
    <ul class="teacher-element list">
        <li class="teacher-item">
            <svg class="teacher-icon"> 
                <use href="/images/icons/sprite.svg#check"></use>
             </svg>
            <p>Опыт подготовки учеников к ВНО - 6 лет</p>
        </li>
        <li class="teacher-item">
            <svg class="teacher-icon"> 
                <use href="/images/icons/sprite.svg#check"></use>
             </svg>
            <p>Собственный результат сдачи ВНО - 197 баллов 2 года подряд</p>
            
        </li>
        <li class="teacher-item">
            <svg class="teacher-icon"> 
                <use href="/images/icons/sprite.svg#check"></use>
             </svg>
            <p>Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)</p> 
        </li>
    </ul>
    <ul class="teacher-text list"> 
        <li class="teach-education">Высшее образование получила в Институте международных отношений НАУ по специальности переводчик-аналитик.</li>
        <li class="teach-education">В свободное время проходит курсы от лучших университетов мира по эффективному преподаванию и методикам написания сочинений.</li>
        <li class="teach-education">В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).</li>
    </ul>
    <a class="teacher-link">Cambrige English Entry Level Certificate</a>
 
</section>
