    @mixin for-size($range) {
        $mobile: 320px;
        $tablet: 768px;
        $desktop: 1680px;
        @if $range==phone-only {
            @media (max-width: #{$mobile - 1}) {
                @content;
            }
        }
        @else if $range==tablet-portrait {
            @media (min-width: $mobile) {
                @content;
            }
        }
        @else if $range==tablet-landscape {
            @media (min-width: $tablet) {
                @content;
            }
        }
        @else if $range==desktop {
            @media (min-width: $desktop) {
                @content;
            }
        }
    }
    
    .hero-section {
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }
    
    .hero-container {
        font-family: Montserrat;
        font-style: normal;
        display: block;
        width: 100%;
        @media screen and (max-width: 319px) {
            width: 100%;
            margin-top: 50px;
            padding-left: 20px;
            padding-right: 20px;
        }
        @media screen and (max-width: 767px) {
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 50px;
            font-weight: 800;
            font-size: 20px;
            line-height: 1.36;
            letter-spacing: 0.03em;
            color: $main-text-color;
        }
        @media screen and (min-width: 768px) {
            margin-top: 70px;
            padding-left: 40px;
            padding-right: 18px;
        }
        @media screen and (min-width: 1680px) {
            padding-left: 0;
            padding-right: 0;
            margin-top: 0;
        }
    }
    
    .hero-container .hero-title {
        margin: 0;
        margin-left: 0;
        font-family: Montserrat;
        font-style: normal;
        @media screen and (max-width: 767px) {
            display: block;
            font-weight: 800;
            font-size: 20px;
            line-height: 1.36;
            letter-spacing: 0.03em;
            color: $main-text-color;
        }
        @media screen and (min-width: 768px) {
            font-weight: 800;
            font-size: 26px;
            line-height: 1.3;
            letter-spacing: 0.03em;
            width: 332px;
            height: 132px;
        }
        @media screen and (min-width: 1680px) {
            font-weight: 800;
            font-size: 58px;
            line-height: 1.3;
            letter-spacing: 0.03em;
            width: 642px;
            height: 385px;
            // margin-top: 125px;
            padding-top: 80px;
            br {
                display: none;
            }
        }
    }
    
    .hero-text-container {
        margin-top: 30px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        height: 66px;
        @media screen and (max-width: 767px), (min-width: 768px) {
            .hero-text-first {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.57;
                display: flex;
                align-items: center;
                letter-spacing: 0.08em;
                color: $primary-text-color;
            }
            .hero-text-middle {
                font-weight: bold;
                font-size: 14px;
                line-height: 1.57;
                display: flex;
                align-items: center;
                letter-spacing: 0.08em;
                color: $main-text-color;
            }
            .hero-text-last {
                font-weight: bold;
                font-size: 14px;
                line-height: 1.57;
                display: flex;
                align-items: center;
                letter-spacing: 0.08em;
                font-weight: bold;
                color: $accent-color;
            }
        }
        @media screen and (min-width: 1680px) {
            width: 536px;
            height: 66px;
            margin-top: 32px;
            .hero-text-first {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.649;
                letter-spacing: 0.08em;
            }
            .hero-text-middle,
            .hero-text-last {
                display: inline;
                font-weight: bold;
                font-size: 20px;
                line-height: 1.649;
                letter-spacing: 0.08em;
            }
        }
    }
    
    .hero-btn {
        font-family: Montserrat;
        font-style: normal;
        text-transform: uppercase;
        border: 2px solid $accent-color;
        background-color: $accent-color;
        color: $wightColor;
        box-sizing: border-box;
        transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: transparent;
        @media screen and (max-width: 767px), (min-width: 768px) {
            font-weight: bold;
            font-size: 12px;
            line-height: 1.25;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.08em;
            width: 260px;
            height: 48px;
            margin-top: 30px;
            margin-bottom: 92px;
        }
        @media screen and (min-width: 1680px) {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.214;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.14em;
            text-transform: uppercase;
            width: 354px;
            height: 70px;
            padding-left: 25px;
            margin-top: 32px;
            margin-bottom: 145px;
        }
        &:hover,
        &focus {
            color: $accent-color;
            background-color: $wightColor;
        }
    }
    
    .hero-overlay {
        display: flex;
        justify-content: center;
        width: 100%;
        // background-image: url("/images/hero/ellipse-2.png"), url("/images/hero/ellipse.png");
        // background-repeat: no-repeat;
        // background-position: 50% bottom, 50% 112px;
        // background-size: 178px, 208px;
        @media screen and (max-width: 767px) {
            height: 286px;
            background-image: url("/images/hero/ellipse-2.png"), url("/images/hero/ellipse.png");
            background-repeat: no-repeat;
            background-position: 50% bottom, 50% 112px;
            background-size: 178px, 208px;
            @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
                background-image: url("/images/hero/ellipse-2@2x.png"), url("/images/hero/ellipse@2x.png");
                background-repeat: no-repeat;
                background-position: 50% bottom, 50% 112px;
                background-size: 178px, 208px;
            }
        }
        @media screen and (min-width: 768px) {
            justify-content: left;
            padding-left: 40px;
        }
        @media screen and (min-width: 1680px) {
            padding-left: 0;
        }
    }
    
    .hero-section {
        @media screen and (min-width: 320px) {
            background-image: url("/images/hero/vector.png");
            background-repeat: no-repeat;
            background-position: left -64px top -80px;
            background-size: 768px 618px;
            @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
                background-image: url("/images/hero/vector@2x.png");
                background-repeat: no-repeat;
                background-position: left -64px top -80px;
                background-size: 768px 618px;
                padding-bottom: 47px;
                // margin-bottom: 60px;
                // padding-bottom: 30px;
            }
        }
        @media screen and (min-width: 768px) {
            background-image: url("/images/hero/ellipse-tabl-2.png"), url("/images/hero/ellipse-tabl.png"), url("/images/hero/vector.png");
            background-repeat: no-repeat;
            background-position: 410px top, 374px 10px, left top -128px;
            background-size: 320px, 376px, 768px 556px;
            @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
                background-image: url("/images/hero/ellipse-tabl-2@2x.png"), url("/images/hero/ellipse-tabl-1@2x.png"), url("/images/hero/vector@2x.png");
                background-repeat: no-repeat;
                background-position: 410px top, 374px 10px, left top -128px;
                background-size: 320px, 376px, 768px 556px;
                margin-right: 18px;
                // margin-bottom: 60px;
                // padding-bottom: 30px;
            }
        }
        @media screen and ( min-width: 1680px) {
            // height: 735px;
            padding-left: 182px;
            padding-right: 45px;
            margin-right: 0;
            margin-top: 45px;
            background-image: url("/images/hero/ellipse-desk-2@1x.png"), url("/images/hero/ellipse-desk@1x.png"), url("/images/hero/vector.png");
            background-repeat: no-repeat;
            background-position: 875px top, 793px 38px, left top -145px;
            background-size: 720px, 842px, 1680px;
            @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
                background-image: url("/images/hero/ellipse-desk-2@2x.png"), url("/images/hero/ellipse-desk@2x.png"), url("/images/hero/vector@2x.png");
                background-repeat: no-repeat;
                background-position: 875px top, 793px 38px, left top -140px;
                background-size: 720px, 842px, 1680px;
            }
        }
    }