body {
    width: 100%;
}

.program {
    margin-left: auto;
    margin-right: auto;
    background: $main-text-color;
    padding-left: 0px;
    overflow: hidden;
    
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1680px) {
        width: 1680px;
        height: 1240px;
        padding: 120px 180px 0px 180px;
    }
    position: relative;
    @media screen and(min-width:1680px) {
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $wightColor;
            position: absolute;
            margin-left: -180px;
            margin-top: 192px;    
        } 
    }
}

.white-line {
    position: relative;
    @media screen and(min-width:240px) and(max-width:1679px) {
        &::before {
            content: "";
            display: block;
            width: 2px;
            height: calc(100% + 10px);
            background-color: $wightColor;
            position: absolute;
            margin-left: 5px;
            margin-top: 50px;
        }       
    }
}

.red-point {
    position: relative;
    @media screen and(min-width:240px) and(max-width:1679px) {
        &::after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        margin-left: 0px;
        z-index: 2;
        margin-top: 50px;
        background-image: url(/images/icons/ellipse2.svg);  
        }           
    }   

}

.program-title {
    text-align: center;
    color: $wightColor;
    font-size: 20px;
    line-height: 26px;
    line-height: 130%;
    vertical-align: top;
    letter-spacing: 3%;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        text-align: left;
        font-size: 26px;
        margin-left: 40px;
    }

    @media screen and (min-width: 1680px) {
        text-align: left;
        font-size: 46px;
        margin-left: 0px;
        margin-bottom: 120px;
        margin-top: 0;
    }
}

.program-padding {
    padding-left: 85px;

    @media screen and (min-width: 1680px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0px;             
    }            
}

.program-block {
    @media screen and (min-width: 1680px) {
        display: inline-block;
        width: 240px;
        vertical-align: top;
        margin-right: 20px;
         position: relative;
    }
    @media screen and(min-width:1680px) {
        &::before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        position: absolute;
        margin-left: 0px;
        z-index: 2;
        margin-top: -10px;
        background-image: url(/images/icons/ellipse.svg);  
        }           
    }
}

ul {
    list-style-type: none;
    padding: 0px;

    @media screen and (min-width: 1680px) {
        margin-bottom: 160;
        
    }
}

.program-title-semestr {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    color: $wightColor; 
    
    @media screen and (min-width: 1680px) {
        margin-left: 0px;
        font-size: 25px;
        line-height: 93%;
        letter-spacing: 0.08em;    
    }
}

.program-plan-item {
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        display: flex;
        flex-direction: row;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        width: 33.3333%;        
    }

}

.program-plan-grammar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.program-plan-vocabulary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) and (max-width: 1679px) {
        margin-left: 50px;
    }
}

.program-plan-writing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) and (max-width: 1679px) {
        margin-left: 50px;
    }
}

.program-plan-section {
   
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        display: block;       
    }
}

.program-title-plan {
    height: 32px;
    width: 155px;
    font-weight: bold;
    font-size: 12px;
    line-height: 165%;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: $accent-color;
    margin: 5px 0px 5px 40px;

    &::before {
        content: "";
        display: block;
        width: 12px;
        height: 1px;
        margin-right: 5px;
        margin-left: 40;
        background-color: $accent-color;       
    }

    @media screen and (min-width: 1679px) {
        margin-left: 0px;
        font-size: 20px;
        line-height: 165%;
        letter-spacing: 0.08em;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}
    
.program-plan {
    font-weight: 50;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    margin-left: 40px;
    color: $primary-text-color;  

    @media screen and (min-width: 1679px) {
        margin-left: 0px;
        font-weight: 500;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: 0.08em;
    }
}

.program-img {
    display: block;
    width: 176px;
    height: 137px;
    position: relative;
    left: 200px;
    bottom: 50px;

    @media screen and (min-width: 768px) {
        display: block;
        width: 384px;
        height: 280px;
        position: relative;
        left: 385px;
        bottom: 180px;        
    }

    @media screen and (min-width: 1680px) {
        display: block;
        width: 760px;
        height: 502px;
        position: absolute;
        top: 57%;
        left: -5%;                
    }
}