html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: $wightColor;
    color: $main-text-color;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.teacher{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    

.teacher-name {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
   
    border-bottom: 1px solid #ececec;

}
}

.teacher-element {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.06em;

    color: $main-text-color;
   
}

.teacher-item {
    margin-bottom: 43px;
}

.teacher-icon {
    width: 17px; 
    height: 14px; 
    color: $accent-color;

}

.teacher-text {
    
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;

color: $primary-text-color;
}

.teach-education {
    margin-bottom: 21px;
}

.teacher-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    text-decoration-line: underline;

    color: $accent-color;
    
}
